<app-add-task (onAddTask)="AddTask($event)"></app-add-task>
<app-task-item 
    *ngFor="let task of tasks" [task]="task" 
    (onDeleteTask)="DeleteTask(task)"
    (onToggleReminder)="ToggleReminder(task)"></app-task-item>